---
layout: page
---

{{ content }}

{% assign prevPageNum = page.tutorial-order | minus:1 %}
{% assign nextPageNum = page.tutorial-order | plus:1 %}
{% assign prevPage = site.pages | where:"tutorial-category", page.tutorial-category | where:"tutorial-order", prevPageNum  %}
{% assign nextPage = site.pages | where:"tutorial-category", page.tutorial-category | where:"tutorial-order", nextPageNum  %}

{% if nextPage %}
 <a class="button" style="float:right" href="{{ nextPage.url | prepend: full_base_url }}">Next: {{ nextPage.title }}</a>
{% endfor %}

{% if prevPage %}
 <a class="button" href="{{ prevPage.url | prepend: full_base_url }}">Previous: {{ prevPage.title }}</a>
{% endfor %}
<br />
